// basic palatte

$color-1: #267ba0;
$color-2: #71c1b3;
$color-3: #71c1b3;
$color-4: #b3dcc0;
$color-5: #f1f3be;
$color-6: #ee2658;

$white: #fff;
$black: #000;
$LightBlack: #404040;



// margin variables
$increment: 5;
$startMargin: 0;
$endMargin: 200;

//breaking points for responsive
$break-small: 600px;


//fonts
$roboto: "Roboto", sans-serif;
$montserrat: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;

