@import "../variable";

.note-cards {
     background: white;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0px 0px 10px rgba(108, 183, 251, 0.2);
     transition: all 0.2s ease-in;
     transform: scale(0.95);
     cursor: pointer;
     &:hover {
          transform: scale(1.01);
          box-shadow: 0px 0px 20px rgba(108, 183, 251, 0.35);
     }
}
.note-id {
     font-size: 8px;
     font-family: $openSans;
     color: $grey;
}
.note-title {
     font-size: 20px;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     font-weight: bold;
}
.note-description {
     margin-top: 5px;
     font-size: 12px;
     color: $grey;
     min-height: 130px;
}
.div-center {
     margin: 0 auto;
}
.flex{
     display: flex;
}
.text-center {
     text-align: center;
}
.light-grey-bg {
     background: $atlassian-default!important;
    &:hover {
      border: 1px solid $color-1-lightOpacity;
    }
}
.created-at {
     font-size: 10px;
     color: $grey;
     text-align: center;
}
.caret-back {
     color: $grey;
     font-family: $openSans;
     font-size: 14px;
     font-weight: bold;
     cursor: pointer;
     margin-left: -22px;
}
.caret-title {
     font-size: 2rem;
     font-weight: bold;
     color: $LightBlack;
     font-family: $openSans;
     @media screen and (max-width: 600px) {
          font-size: 1.2rem;
     }
}

.dashboard-normal-card {
     background: white;
     margin: 20px 10px;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0px 0px 10px rgba(108, 183, 251, 0.2);
     transition: all 0.2s ease-in;
     cursor: pointer;
     &:hover {
          box-shadow: 0px 0px 20px rgba(108, 183, 251, 0.35);
     }
}
.title-post-note {
     font-size: 20px;
     font-weight: bold;
     color: $grey;
     font-family: $openSans;
     margin: 10px 10px 10px 0px;
}
textarea.input-login {
     background: $atlassian-default;
     color: $atlassian-color;
     border: none;
}
.no-data-text {
     font-weight: 600;
     font-size: 20px;
     font-family: $openSans;
     text-align: center;
     color: $grey;
     margin-top: 10px;
}
