@import "../variable";

body {
  margin: 0;
}
.login-window {
  background: linear-gradient(to right, $color-1, $color-2);
  color: $color-1;
  height: 100vh;
}
.card-view {
  background: $white;
  margin-top: 10vh;
  padding: 40px;
  border-radius: 10px;

}

.card-title {
  font-family: $openSans;
  font-size: 20px;
  color: $LightBlack;
}
.card-subtitle {
  font-family: $openSans;
  color: $grey;
}
.input-login> input  {
  background: $atlassian-default;
  color: $atlassian-color;
  border: none;
}
.ant-btn-cipher-primary {
  background: $color-2;
  color: $white;
  border: none;
  &:hover, &:focus {
    background: $color-1;
    color: $white;
    box-shadow: $card2-shadow
  }
}
.ant-btn-cipher-primary-inverse {
  background: $white;
  color: $atlassian-color;
  border: none;
  cursor: pointer;
  &:hover, &:focus {
    background: $atlassian-default;
    color: $color-1;
    //box-shadow: $card2-shadow
  }
}
